SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost 127.0.0.1

POSTGRES_HOST=db
POSTGRES_DB=bristol_food_network
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

STRIPE_PUBLIC_KEY=pk_test_51TEWxrJksndX6ED65LR42gkCTwLQtmOqzaIsunREF0Tas9sEpSQ8guC8P7gPHDieE030JJBa2Hqqsaddowu3t4mk00QnVfozxn
STRIPE_SECRET_KEY=sk_test_51TEWxrJksndX6ED6pJNolLkaApd3KvxsRUdP29LEVzUA6fZlilT4tkdAGaGlA1LZbY0jDNM8SlhcKNlbHGwLZB7J00Z0zCCpTV